<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li {% if index == 1 %}class="current"{% end %}><a href="admin.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li {% if index == 2 %}class="current"{% end %}><a href="life.html"><i class="glyphicon glyphicon-record"></i> Life</a></li>
        <li {% if index == 3 %}class="current"{% end %}><a href="about.html"><i class="glyphicon glyphicon-tasks"></i> About</a></li>
        <li {% if index == 4 %}class="current"{% end %}><a href="post.html"><i class="glyphicon glyphicon-list"></i> Blogs</a></li>
    </ul>
</div>
