{% extends base.html %}
{% block head %}
<link href="{{ static_url("admin/vendors/select/bootstrap-select.min.css") }}" rel="stylesheet">
<link href="{{ static_url("admin/vendors/tags/css/bootstrap-tags.css") }}" rel="stylesheet">
<link href="{{ static_url("admin/css/forms.css") }}" rel="stylesheet">

<script type="text/javascript" charset="utf-8" src="{{ static_url("ueditor/ueditor.config.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("ueditor/ueditor.all.min.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("ueditor/lang/zh-cn/zh-cn.js") }}"></script>
{% end %}

{% block adminnav %}
{% module adminnav(4) %}
{% end %}

{% block content %}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Edit Post</div>

        <div class="panel-options">
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <input type="hidden" name="article_id" value="{{ post["_id"] }}">
            <div class="form-group">
                <label class="col-sm-1 control-label">Title</label>
                <div class="col-sm-11">
                    <input type="text" name="title" value="{{ post["title"] }}" class="form-control" placeholder="Enter Post Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Tags</label>
                <div class="col-sm-11">
                    <div id="article-tags"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Introduce</label>
                <div class="col-sm-11">
                    <textarea class="form-control" id="brief" placeholder="Enter Post Introduce" rows="3">{{ post["brief"] }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Description</label>
                <div class="col-sm-11">
                    <textarea class="form-control" id="desc" placeholder="Enter Post Description" rows="3">{{ post["desc"] }}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Text</label>
                <div class="col-sm-11">
                    <div style="display:none;" id="uecontent">{% raw post["content"] %}</div>
                    <script id="editor" type="text/plain" name="content" style="min-height: 400px; padding-bottom: 20px"></script>
                    <script type="text/javascript">
                    var ue = UE.getEditor("editor");
                    ue.ready(function(){
                            ue.setContent($("#uecontent").html());
                            });
                    </script>
                </div>
            </div>

            <div class="form-group bootstrap-tags bootstrap-3">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="button" class="btn btn-primary" onclick="editSubmit()">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% end %}

{% block script %}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{{ static_url("admin/vendors/select/bootstrap-select.min.js") }}"></script>
<script src="{{ static_url("admin/vendors/tags/js/bootstrap-tags.min.js") }}"></script>
<script src="{{ static_url("admin/js/custom.js") }}"></script>
<script type="text/javascript">
var tags = [{% for tag in post["tags"] %} "{{tag}}", {% end %}];
    $(function () {
        $("#article-tags").tags({
            tagData: [{% for tag in post["tags"] %} "{{tag}}", {% end %}],
            suggestions: [{% for tag in taglist %}"{{ tag }}",{% end %}],
            afterAddingTag: function(tag){
                tags.push(tag);
            },
            afterDeletingTag: function(tag){
                tags.splice($.inArray(tag, tags), 1);
            }
        });
    });

function editSubmit()
{
    var title = $("input[name='title']").val();
    var article_id = $("input[name='article_id']").val();
    var brief = $("#brief").val();
    var desc = $("desc").val();
    var content = ue.getContent();

    var sendData = {
        _id: article_id,
        title:title,
        brief: brief,
        desc: desc,
        content: content,
        tags: tags
    };

    $.post("{{ dealurl }}", JSON.stringify(sendData), function(data){
        if(data.status == "ok")
        {
            window.location.href = data.redirect;
        }
    });
}
</script>
{% end %}

