{% extends base.html %}
{% block head %}
<style type="text/css">
    .operateBar li{text-decoration: none; display: list-item; list-style: none; float: left; font-size: 10px; text-align: center; margin: 0 5px;}
    table{font-size: 15px;}
</style>
{% end %}

{% block content %}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Blogs List</div>
        <a class="btn btn-primary btn-xs" href="edit.html">New Blog</a>
    </div>
    <div class="panel-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead>
            <tr>
                <th width="60%">Title</th>
                <th>Tags</th>
                <th>Time</th>
                <th width="10%">Operation</th>
            </tr>
            </thead>
            <tbody>
            {% set idx = 0 %}
            {% for post in posts %}
            {% set idx = idx + 1 %}
            {% if (idx + 1) % 2 == 1 %}
            <tr class="odd">
            {% else %}
            <tr class="even">
            {% end %}

            <td>{{ post["title"] }}</td>
            <td>{% for tag in post["tags"] %}{{ tag }},{% end %}</td>
            <td>{{ post["time"] }}</td>
            <td>
                <ul class="operateBar">
                    <li><a href="/manage/edit.html?article_id={{ post["_id"] }}"><span class="glyphicon glyphicon-pencil"></span></a></li>
                    <li><a onclick="deleteConfirm('/manage/delete.html?article_id={{ post["_id"] }}')"><span class="glyphicon glyphicon-remove-circle"></span></a></li>
                </ul>
            </td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}

{% block script %}
<script type="text/javascript">
    function deleteConfirm(url) {
        if(window.confirm('确认要删除该博文吗？'))
        {
            window.location.href = url;
        }
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="{{ static_url("admin/bootstrap/js/bootstrap.min.js") }}"></script>
<script src="{{ static_url("admin/vendors/datatables/js/jquery.dataTables.min.js") }}"></script>
<script src="{{ static_url("admin/vendors/datatables/dataTables.bootstrap.js") }}"></script>
<script src="{{ static_url("admin/js/custom.js") }}"></script>
<script src="{{ static_url("admin/js/tables.js") }}"></script>
{% end %}

