<!-- Blog Comments -->

<!-- Comments Form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form" action="/comment.html" method="post" id="comment">
        <input type="hidden" name="article_id" value="{{ article_id }}">
        {% if guest is not None%}
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
                <input class="form-control" name="user" type="text" readonly value="{{ guest }}" placeholder="请输入用户名">
                <input class="form-control" name="phone" type="hidden" value="{{ phone }}" placeholder="请输入手机号码">
            </div>
        {% else %}
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
                <input class="form-control" name="user" type="text" placeholder="请输入用户名">
            </div>
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </span>
                <input class="form-control" name="phone" type="text" placeholder="请输入手机号码">
            </div>
        {% end %}
        <div class="form-group">
            <textarea class="form-control" form="comment" name="content" rows="3" placeholder="请输入要评论的内容"></textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitComment()">Submit</button>
    </form>
</div>

<hr>

<!-- Posted Comments -->

<!-- Comment -->
{% if comments is not None%}
{% for comment in comments %}
<div class="media">
    <a class="pull-left" href="#">
        {% if comment["isauthor"] == "1" %}
        <img class="media-object" src="{{ static_url("images/head.png") }}" alt="">
        {% else %}
        <i class="iconfont icon-head"></i>
        {% end %}
    </a>
    <div class="media-body" id="{{ comment["_id"] }}">
        <h4 class="media-heading">{{ comment["user"] }}
            <small>{{ locale.format_date(comment["time"]) }}</small>
        </h4>
        {{ comment["content"] }}
        <a class="read-more" style="word-break: keep-all; cursor: pointer;" onclick="showComment('{{ article_id }}', '{{ comment["_id"] }}', '{{ comment["_id"] }}', '{{ comment["user"] }}')">回复</a>

        {% if comment.has_key("subcomment") %}
        {% for subcomment in comment["subcomment"] %}
        <div class="media">
            <a class="pull-left" href="#">
                {% if subcomment["isauthor"] == "1" %}
                <img class="media-object" src="{{ static_url("images/head.png") }}" alt="">
                {% else %}
                <i class="iconfont icon-head"></i>
                {% end %}
            </a>
            <div class="media-body" id="{{ subcomment["_id"] }}">
                <h4 class="media-heading">{{ subcomment["user"] }}
                    <small>{{ locale.format_date(subcomment["time"]) }}</small>
                </h4>
                {{ subcomment["content"] }}
                <a class="read-more" style="word-break: keep-all; cursor: pointer;" onclick="showComment('{{ article_id }}', '{{ comment["_id"] }}', '{{ subcomment["_id"] }}' ,'{{ subcomment["user"] }}')">回复</a>
            </div>
        </div>
        {% end %}
        {% end %}
    </div>
</div>
{% end %}
{% end %}


<div class="well" id="subComment" style="display: none; margin-top: 20px;">
    <form role="form" id="subCommentForm" action="/comment.html" method="post">
        <input type="hidden" name="comment_id">
        <input type="hidden" name="article_id">
        <input type="hidden" name="parent_id">
        {% if guest is not None%}
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
                <input class="form-control" name="user" type="text" readonly value="{{ guest }}" placeholder="请输入用户名">
                <input class="form-control" name="phone" type="hidden" value="{{ phone }}" placeholder="请输入手机号码">
            </div>
        {% else %}
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
                <input class="form-control" name="user" type="text" placeholder="请输入用户名">
            </div>
            <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
            </span>
                <input class="form-control" name="phone" type="text" placeholder="请输入手机号码">
            </div>
        {% end %}
        <div class="form-group">
            <textarea class="form-control" rows="3" name="content" form="subCommentForm" placeholder="请输入要评论的内容"></textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitSubComment()">Submit</button>
        <button type="button" class="btn btn-primary" onclick="cancelComment()" style="margin-left: 10px;">Cancel</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
     <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-body" style="padding-bottom: 0;">
    <form class="form-inline" role="form">
       <div class="form-group" style="margin-bottom: 20px;">
       <label class="form-label" id="smsValidatorLabel">请输入短信验证码</label>
       <input type="text" name="smsValidator" class="form-control" placeholder="请输入短信验证码">
        <span style="color: red; display: none;" id="validateMsg">验证码错误，请重新输入</span>
       </div>
    <div class="modal-footer" style="padding-bottom: 0;">
       <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
       <button type="button" class="btn btn-primary" onclick="submitSmsValidator()" id="submitSms"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认</button>
    </div>
    </form>
      </div>
      </div>
     </div>
     </div>

<script type="text/javascript">
var v_article_id, v_parent_id, v_comment_id;
function showComment(article_id, parent_id, comment_id, commentuser)
{
    v_article_id = article_id;
    v_parent_id = parent_id;
    v_comment_id = comment_id;
    $("#subComment").css("display", "block");
    $("#"+comment_id).append($("#subComment"));
}

function cancelComment()
{
    $("#subComment").css("display", "none");
}

function isPhone(strPhone) {
    return strPhone.search(/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/) !== -1;
}

function isNull(param)
{
    return param == null || param == undefined || param.length ==0;
}

function validateForm(user, phone, content)
{
    if(isNull(user))
    {
        alert("用户名不能为空");
        return false;
    }

    if(isNull(phone))
    {
        alert("手机号码不能为空");
        return false;
    }
    if(!isPhone(phone))
    {
        alert("手机号码格式不合法");
        return false;
    }
    if(isNull(content))
    {
        alert("评论内容不能为空");
        return false;
    }

    return true;
}

var preCommitId;
function submitComment()
{
    var user = $("#comment").find("input[name='user']").val();
    var phone = $("#comment").find("input[name='phone']").val();
    var content = $("#comment").find("textarea[name='content']").val();
    if(!validateForm(user, phone, content))
    {
        return false;
    }

    $.post("/comment.html", $("#comment").serialize(), function (data) {
        var obj = JSON.parse(data);
        if (obj.ret === "0")
        {
            showMsgValidateBox(obj.id);
        }
        else if(obj.ret === "1")
        {
            window.location.reload();
        }
    });

    return true;
}

function submitSubComment()
{
    var user = $("#subCommentForm").find("input[name='user']").val();
    var phone = $("#subCommentForm").find("input[name='phone']").val();
    var content = $("#subCommentForm").find("textarea[name='content']").val();
    if(!validateForm(user, phone, content))
    {
        return false;
    }
    $("#subCommentForm").find("input[name='article_id']").val(v_article_id);
    $("#subCommentForm").find("input[name='parent_id']").val(v_parent_id);
    $("#subCommentForm").find("input[name='comment_id']").val(v_comment_id);

    $.post("/comment.html", $("#subCommentForm").serialize(), function (data) {
        var obj = JSON.parse(data);
        if (obj.ret === "0")
        {
            showMsgValidateBox(obj.id);
        }
        else if(obj.ret === "1")
        {
            window.location.reload();
        }
    });
    return true;
}

function showMsgValidateBox(commentId) {
    preCommitId = commentId;
    $("#validateMsg").css("display", "none");
    $("input[name='smsValidator']").val("");
    $("#myModal").modal();
    $("#submitSms").prop("disabled", false);
}

function submitSmsValidator() {
    var sms = $("input[name='smsValidator']").val();
    $("#submitSms").prop("disabled", true);
    $.post("/confirm.html", {commentId: preCommitId, sms: sms}, function (data) {
        if (data.status !== "ok")
        {
            $("#validateMsg").css("display", "inline");
            $("input[name='smsValidator']").val("");
            $("#myModal").modal();
            $("#submitSms").prop("disabled", false);
        }
        else
        {
            window.location.reload();
        }
    });
}
</script>
