<div class="logo"><h1><a href="index.html">Gavin's<span>Blog</span> <small>just a washroom for coder gavin</small></a></h1></div>
<div class="menu_nav">
<ul>
    {% set loop = 0 %}
	{% for menu in menus %}
        {% if index == loop %}
        <li class="active"><a href="/{{ menu["url"] }}">{{ menu["name"] }}</a></li>
        {% else %}
        <li><a href="/{{ menu["url"] }}">{{ menu["name"] }}</a></li>
        {% end %}
    {% set loop = loop + 1 %}
	{% end %}
</ul>
</div>
<div class="clr"></div>
