<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="col-md-8 col-sm-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html" style="padding-left: 0px;">
                    <i class="iconfont icon-jiu" style="font-size: 25px;"></i>
                    <i class="iconfont icon-san" style="font-size: 25px;"></i>
                    <i class="iconfont icon-san1" style="font-size: 25px;"></i>
                    <i class="iconfont icon-ren" style="font-size: 25px;"></i>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <a href="/index.html">主页</a>
                    </li>
                    <li>
                    <a href="/timeline.html">生活</a>
                    </li>
                    <li>
                    <a href="/about.html">关于我</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

    <div class="col-md-4 hidden-xs hidden-sm" style="margin-top:8px; padding-left:20px; padding-right: 0;">
        <div class="input-group">
            <input type="text" value="{{ keyword }}" class="form-control" onkeydown="enterPress(event)" placeholder="请输入要搜索的关键字" id="searchKey">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="searchPost()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    </div>
    <!-- /.container -->
</nav>

<script type="text/javascript">
    function searchPost() {
        var searchKey = $("#searchKey").val();
        if(searchKey == null || searchKey == undefined || searchKey.length ==0)
        {
            return;
        }
        var url = "/index.html?keyword=" + searchKey;
        window.location.href = url;
    }
    
    function enterPress(e) {
        var ev = window.event || e;
        if (ev.keyCode == 13)
        {
            searchPost();
        }
    }
</script>
