  <div class="col c1">
	<h2><span>Linked Website</span></h2>
	<a href="#"><img src="{{ static_url('images/pix1.jpg') }}" width="58" height="58" alt="pix" /></a>
	<a href="#"><img src="{{ static_url('images/pix2.jpg') }}" width="58" height="58" alt="pix" /></a>
	<a href="#"><img src="{{ static_url('images/pix3.jpg') }}" width="58" height="58" alt="pix" /></a>
  </div>
  <div class="col c2">
	<h2><span>Copyright Clarify</span></h2>
	<p>Copyright ownership belongs to <b>wb4m</b><br/>
        Can be reproduced , copied, or used in other ways with the copyright declare. Otherwise <b>wb4m</b> will have the right to pursue legal responsibilities.<br/>

    </p>
  </div>
  <div class="col c3">
	<h2><span>Contact</span></h2>
	  <p>Any Problems about the topic or cooperation, pls contact the email belows.
          <br/>Welcome various forms of discussion and communication.
          <br/><a href="mailto:admin@wb4m.com">admin@wb4m.com</a></p>
  </div>
  <div class="clr"></div>
