{% extends "base.html" %}
{% block mainbar %}
<div class="note_font about_content">
    <h2 style="height: 0px;">About US</h2>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=1>
    Welcome to the Gavin's blog.<br/>
    No Teams, No Commerces, Just a Window for me to communicate with the world.<br/>
    Publishing the insights, knowledge on computing technology. <br/>
    This Blog contribute to Java/C/C++/Python/Linux/Oracle.... In fact, anything i interested in, and Maybe, I'm interest in everything about programming...<br/>
    Welcome All of you friends email or leave me a message on the message board to discuss the programming arts, Sincerely.<br/>
    <br/>
    Copyright ownership belongs to wb4m <br/>
    Can be reproduced , copied, or used in other ways with the copyright declare. Otherwise wb4m will have the right to pursue legal responsibilities.
</div>
{% end %}

{% block page %}
{% end %}
