<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} Welcome to Gavin's site {% end %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{ static_url("css/style.css") }}" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="{{ static_url("js/cufon-yui.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/sentymaruko.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/cuf_run.js") }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url("js/jquery.js") }}"> </script>
{% block headscript %}
{% end %}
<!-- CuFon ends -->
<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?ac5d80b2f0644d6571110a1b6639a423";
       var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(hm, s);
         })();
</script>
</head>
<body>
<div class="main">

  <div class="header">
    <div class="header_resize">
	  {% block header %}
	    {% module header(index) %}
	  {% end %}
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      {% block content %}
      <div class="mainbar">
	  {% block mainbar %}
          {% if page["totalCount"] == 0 %}
            <div class="" style="font-size: 20px; color: #c0c0c0; min-height: 400px; line-height: 400px; overflow: hidden; text-align: center;">Nothing to display.</div>
          {% else %}
            {% for article in articles %}
		    {% module article(article, index) %}
        {% end %}

          {% end %}
	  {% end %}

	  {% block page %}
          {% if page["totalCount"] != 0 %}
          {% module page(page, index) %}
          {% end %}
	  {% end %}
      </div>
      <div class="sidebar">
		{% block sidebar %}
          {% module slidesearch() %}
          {% module slidemenu() %}
          {% module slidearchive() %}
		{% end %}
      </div>
      {% end %}
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
	  {% block footer_bg %}
	    {% module spread() %}
	  {% end %}
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
	  {% block footer %}
	    {% module footer() %}
	  {% end %}
    </div>
  </div>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>
