{% extends "base.html" %}
{% block headscript %}
<script>
     function parseDom(arg){
         var objE = document.createElement("div");
         objE.innerHTML = arg;
         return objE.childNodes;
     }


    $(function(){
{#        alert(elems[0].html());#}
        var elems = document.getElementsByClassName("article_tag");
        for(var i = 0; i < elems.length; i++)
        {
            text = elems[i].innerText;
            $(elems[i]).html("");
            var doms =  parseDom(text);
            $(doms[0]).appendTo($(elems[i]));
            if(doms.length > 1)
                $(doms[1]).appendTo($(elems[i]));
        }
    })
</script>
{% end %}
