{% extends "base.html" %}
{% block mainbar %}
<div class="note_font about_content">
    <h2 style="height: 0px;">Contact US</h2>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=1>
    Warmly welcome to contact us.
    <h2>Email US</h2>
    <a href="mailto:admin@wb4m.com"><img style="float: right; margin-right: 35px; clear: both;" src="{{ static_url("images/email.gif") }}" width="500px" height="90px"></a>
    <h2 style="clear: both;">Leave a Message</h2>
    <form>
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" style="width: 500px; height: 20px;" /></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="text" style="width: 500px; height: 20px;" /></td>
            </tr>
            <tr>
                <td>Message: </td>
                <td><textarea style="width: 420px; height: 80px; float: left;"></textarea><span style="color:#1AB8C5; border:1px solid darkgray; padding-top: 30px; line-height:85px; vertical-align:middle; text-indent: 15px; height: 55px; width: 77px; display: block; cursor: pointer; float: left;">Submit</span></td>
            </tr>
        </table>
    </form>
</div>
{% end %}
{% block page %}
{% end %}
