{% extends "base.html" %}
{% block content %}
<div class="article" style="width: 100%; float: left;">
    <div class="note">
        <img src="{{ static_url("images/note_top.gif") }}" style="border: none; height: 20px; width: 342px;">
        <div class="note_content note_font">
            <h3 style="margin-top: 0px; margin-bottom: 0px;">Blogs</h3><ul>
            {% for blog in blogs %}
                <li>{{ blog["title"] }}</li>
                {% end %}
            </ul>
        </div>
        <img src="{{ static_url("images/note_bottom.gif") }}" style="border: none; height: 24px; width: 342px;">
    </div>
    <div class="note">
        <img src="{{ static_url("images/note_top.gif") }}" style="border: none; height: 20px; width: 342px;">
        <div class="note_content note_font">
            <h3 style="margin-top: 0px;">Lives</h3><ul>
                {% for life in lives %}
                <li>{{ life["title"] }}</li>
                {% end %}
            </ul>

        </div>
        <img src="{{ static_url("images/note_bottom.gif") }}" style="border: none; height: 24px; width: 342px;">
    </div>
</div>
{% end %}

{% block sidebar %}
{% end %}
{% block page %}
{% end %}