{% extends base.html %}

{% block head %}
<style type="text/css">
    .media>a{text-decoration: none; color: #999;}
    .media .pull-left .iconfont{font-size: 65px;}
</style>
{% end %}

{% block content %}
<!-- Title -->
<h3>{{ post["title"] }}</h3>

<div class="post-block">
    <div class="post-info">
        <div class="post-time">
            <span class="glyphicon glyphicon-time"></span>
            <a href="#">{{ post["author"] }}</a> Posted on {{ locale.format_date(post["time"], shorter=True) }}
            {% for tag in post["tags"] %}
            <a class="post-tag-link" href="/tag/{{tag}}.html">{{ tag }}</a>
            {% end %}
        </div>
    </div>
</div>

<hr>

{% raw post["content"] %}
<hr>


{% module comment(post["_id"]) %}

{% end %}
