{% extends base.html %}

{% block head %}
<style type="text/css">
    .media>a{text-decoration: none; color: #999;}
    .media .pull-left .iconfont{font-size: 65px;}
</style>
{% end %}

{% block content %}
<!-- Title -->
<h1>{{ post["title"] }}</h1>

<!-- Author -->
<p class="lead">
by <a href="#">{{ post["author"] }}</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post["time"] }}</p>

<hr>

{% raw post["content"] %}
<hr>


{% module comment(post["_id"]) %}

{% end %}
