{% extends base.html %}
{% block meta %}
<meta name="description" content="{% if post.has_key("desc") %}{{ post["desc"] }}{% end %}">
{% end %}

{% block title %}
<title>九三散人 - {{ post["title"] }}</title>
{% end %}

{% block head %}
<script type="text/javascript" src="{{ static_url("ueditor/third-party/SyntaxHighlighter/shCore.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url("ueditor/third-party/SyntaxHighlighter/shCoreDefault.css") }}">
<style type="text/css">
    .media>a{text-decoration: none; color: #999;}
    .media .pull-left .iconfont{font-size: 65px;}
    td,th{border: 1px solid #ccc; padding-left: 8px; padding-right: 8px;}
</style>

<script type="text/javascript">
$(function(){
        SyntaxHighlighter.all();
        });
</script>
{% end %}

{% block content %}
<!-- Title -->
<h3>{{ post["title"] }}</h3>

<div class="post-block">
    <div class="post-info">
        <div class="post-time">
            <span class="glyphicon glyphicon-time"></span>
            <a href="#">{{ post["author"] }}</a> Posted on {{ locale.format_date(post["time"], shorter=True) }}
            {% for tag in post["tags"] %}
            <a class="post-tag-link" href="/list.html?tag={{tag}}">{{ tag }}</a>
            {% end %}
        </div>
    </div>
</div>

<hr>

{% raw post["content"] %}
<div class="bdsharebuttonbox" style="margin-top: 20px;">
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
    <a href="#" class="bds_wealink" data-cmd="wealink" title="分享到若邻网"></a>
    <a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a>
    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
    <a href="#" class="bds_qingbiji" data-cmd="qingbiji" title="分享到轻笔记"></a>
    <a href="#" class="bds_more" data-cmd="more"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<div class="bdsharebuttonbox" style="margin-top: 20px;">
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
    <a href="#" class="bds_wealink" data-cmd="wealink" title="分享到若邻网"></a>
    <a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a>
    <a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
    <a href="#" class="bds_qingbiji" data-cmd="qingbiji" title="分享到轻笔记"></a>
    <a href="#" class="bds_more" data-cmd="more"></a>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<hr>


{% if flag == '1' %}
{% module comment(post["_id"]) %}
{% end %}


{% end %}
